<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}kscode form app{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('css/animation.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/utilities.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/responsives.css') }}" rel="stylesheet"/>
        {% endblock %}

    </head>
    <body>
        <div class='auth flex'>
            <div class='auth_box flex'>
                <div class='auth_box_element flex'>
                    <div class='logo flex'>
                        <img src='{{ asset('img/logo_white.png') }}' alt='kscode white logo'>
                    </div>
                </div>
                <div class='auth_box_element flex'>
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
